name: finace_api deploy

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

  workflow_dispatch:

jobs:
  install:
    name: Install Packages
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Cache node_modules
        uses: actions/cache@v2
        with:
          path: node_modules
          key: ${{runner.os}}-${{hashFiles('**/yarn.locks')}}
      - name: Install dependencies
        run: yarn install

  # deploy desenvolvimento
  deploy-development:
    runs-on: ubuntu-latest
    environment:
      name: development
      url: https://ec2-54-233-242-103.sa-east-1.compute.amazonaws.com
    steps:
      - name: Write .env.dev file
        run: |
          echo "DATABASE_URL=${{ secrets.DATABASE_URL }}" >> .env.dev
          echo "PORT=${{ secrets.PORT }}" >> .env
          echo "PRIVATE_KEY_PATH=${{ secrets.PRIVATE_KEY_PATH }}" >> .env.dev
          echo "PRIVATE_REFRESH_KEY_PATH=${{ secrets.PRIVATE_REFRESH_KEY_PATH }}" >> .env.dev
      - name: Repo Checkout
        uses: actions/checkout@v3
      - name: LocalHost Deployment
        uses: easingthemes/ssh-deploy@main
        with:
          SSH_PRIVATE_KEY: ${{secrets.VM_TESTE_SSH_KEY}}
          ARGS: '-rlgoDzvc --delete'
          REMOTE_HOST : ${{vars.REMOTE_HOST}}
          REMOTE_USER : ${{vars.REMOTE_USER}}
          REMOTE_PORT: ${{vars.REMOTE_PORT}}
          TARGET: ${{vars.TARGET}}
      - name: Down Dokcer Compose
        run: sudo docker compose down
      - name: Build Dokcer Compose
        run: sudo docker compose build
      - name: Up Dokcer Compose
        run: sudo docker compose up -d
