name: finace_api deploy

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

  workflow_dispatch:

jobs:
  install:
    name: Install Packages
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Cache node_modules
        uses: actions/cache@v2
        with:
          path: node_modules
          key: ${{runner.os}}-${{hashFiles('**/yarn.locks')}}
      - name: Install dependencies
        run: yarn install

  # deploy desenvolvimento
  deploy-development:
    runs-on: ubuntu-latest
    environment:
      name: development
      url: https://ec2-54-233-242-103.sa-east-1.compute.amazonaws.com
    steps:
      - name: Repo Checkout
        uses: actions/checkout@v3
      - name: LocalHost Deployment
        uses: easingthemes/ssh-deploy@main
        with:
          SSH_PRIVATE_KEY: ${{secrets.VM_TESTE_SSH_KEY}}
          ARGS: '-rlgoDzvc --delete'
          REMOTE_HOST : ${{vars.REMOTE_HOST}}
          REMOTE_USER : ${{vars.REMOTE_USER}}
          REMOTE_PORT: ${{vars.REMOTE_PORT}}
          TARGET: ${{vars.TARGET}}
      - name: Create .env.dev file if not exists
        run: test -f $HOME/workspace/finance_api/.env.dev || touch $HOME/workspace/finance_api/.env.dev
        shell: bash
      - name: Write .env.dev file
        run: |
          echo "DATABASE_URL=${{ secrets.DATABASE_URL }}" >> ${{vars.TARGET}}.env.dev
          echo "PORT=${{ secrets.PORT }}" >> ${{vars.TARGET}}.env.dev
          echo "PRIVATE_KEY_PATH=${{ secrets.PRIVATE_KEY_PATH }}" >> ${{vars.TARGET}}.env.dev
          echo "PRIVATE_REFRESH_KEY_PATH=${{ secrets.PRIVATE_REFRESH_KEY_PATH }}" >> ${{vars.TARGET}}.env.dev
