name: finace_api deploy

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

  workflow_dispatch:

jobs:
  install:
    name: Install Packages
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Cache node_modules
        uses: actions/cache@v2
        with:
          path: node_modules
          key: ${{runner.os}}-${{hashFiles('**/yarn.locks')}}
      - name: Install dependencies
        run: yarn install
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Build
        run: echo Building the app
    needs: install

  # deploy desenvolvimento
  deploy-development:
    runs-on: ubuntu-latest
    environment:
      name: development
      url: https://ec2-54-233-242-103.sa-east-1.compute.amazonaws.com
    needs: build
    steps:
      - name: Repo Checkout
        uses: actions/checkout@v3
      - name: LocalHost Deployment
        uses: easingthemes/ssh-deploy@main
        with:
          SSH_PRIVATE_KEY: ${{secrets.VM_TESTE_SSH_KEY}}
          ARGS: '-rlgoDzvc --delete'
          REMOTE_HOST : ${{vars.REMOTE_HOST}}
          REMOTE_USER : ${{vars.REMOTE_USER}}
          REMOTE_PORT: ${{vars.REMOTE_PORT}}
          TARGET: ${{vars.TARGET}}
